.add-btn {

  padding: 10px 15px;

  margin-bottom: 15px;
  margin-right: 10px;

  border: none;

  border-radius: 6px;

  background: #28a745;

  color: white;

  cursor: pointer;

  font-size: 14px;
}

.add-btn:hover {

  background: #218838;
}
